<launch>
  <!-- Arguments -->
  <arg name="model" default="waffle_pi"/>
  <arg name="bag_name" default="fixed_slam_easy"/>
  <arg name="map_file" default="$(find turtlebot3_datasets)/data/map.yaml"/>
  <arg name="mat_files" default="false"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- TF -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf2_mocap2odom" required="true" args="0.935 1.34 -0.023 0.001 -0.003 0.737 0.676 mocap odom" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf2_mocap2map" required="true" args="0.935 1.34 -0.023 0.001 -0.003 0.737 0.676 mocap map" />
  
  
  <!-- ROSBAG -->
  <param name="/use_sim_time" value="true"/>
  <node pkg="rosbag" type="play" name="rosbag_player" 
          args="--clock $(find turtlebot3_datasets)/data/$(arg bag_name).bag"/>

  <!-- EKF robot localisation -->
  <node pkg="robot_localization" type="ekf_localization_node" name="robot_localization_ekf_node_odom" clear_params="true">
    <param name="frequency" value="10." />
    <param name="sensor_timeout" value="0.2" />
    <param name="two_d_mode" value="true" />
    <param name="publish_tf" value="false" />
    <param name="map_frame" value="map" />
    <param name="odom_frame" value="odom" />
    <param name="base_link_frame" value="base_link" />
    <param name="world_frame" value="odom" />
    <param name="odom0" value="odom" />
    <param name="scan0" value="scan" />
    <rosparam param="odom0_config">
      [true, true, false,
       false, false, true,
       true, true, false,
       false, false, true,
       false, false, false]</rosparam>
    <param name="odom0_relative" value="true"/>
    <param name="scan0_relative" value="true"/>
    <param name="imu0" value="imu" />
    <rosparam param="imu0_config">
      [false, false, false,
       false, false, true,
       false, false, false,
       false, false, true,
       false, false, false]</rosparam>
       
    <rosparam param="scan0_config">
      [true, true, false,
       false, false, true,
       false, false, false,
       false, false, false,
       false, false, false]</rosparam>
    <param name="imu0_relative" value="true"/>
    <rosparam param="initial_state">
      [-2.0,-0.5,  0.0,
       0.0,  0.0,  0.0,
       0.0,  0.0,  0.0,
       0.0,  0.0,  0.0,
       0.0,  0.0,  0.0]</rosparam>
  </node>

  <!-- AMCL-->

  <!-- Groundtruth path -->
  <node pkg="turtlebot_sim" type="odom_to_path.py" name="odom_to_path" required="true" />
  <node pkg="turtlebot_sim" type="odom_ekf_to_path.py" name="odom_ekf_to_path" required="true" />


  <!-- Plotting paths with matlab-->
  <group if="$(arg mat_files)">
    <node pkg="turtlebot_sim" type="performance_measurement.py" name="performance_measurement" required="true"  >
      <param name="~src_frame" value="odom"/>
      <param name="~dst_frame" value="mocap_laser_link"/>
    </node>
    <node pkg="turtlebot_sim" type="calculate_error.py" name="evaluation_node" required="true"   />
  </group>
  
  
  <!-- Estimated path -->
  <!-- Position error publisher -->

  <!-- rviz -->
  <!--<node pkg="rviz" type="rviz" name="rviz" required="true"/>-->
  
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find turtlebot_sim)/rviz/turtle_sim_ekf.rviz" />
  <node name="tf_to_path" pkg="tf_to_trajectory" type="tf_to_path.py">
    <param name="parent_frame_id" value="mocap"/>
    <param name="child_frame_id" value="mocap_laser_link"/>
    <param name="out_topic_name" value="/ground_truth"/>
    <param name="append_rate" value="5"/>
  </node>
  

</launch>
